
 <header> 
    <nav class="navbar">
      <mat-toolbar >
        <mat-toolbar-row >  
                <div class="navbar-header">  
                        <img src="./assets/auctionlogo.png" class="img-rounded" alt="auction-logo" width="50px" height="50px">
                    </div>
            
          <span id="branding" [routerLink]="['/landing']">e-Auction</span>

            <section class="search-center">
                <mat-form-field appearance="standard" class="searchbox">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="what are you looking for" (input)="clickSearch($event.target.value)">
                    <mat-icon matSuffix>search</mat-icon>
                    
                </mat-form-field>
            </section>
          <section class="txt-center">

            <mat-chip-list>
              <mat-chip  class="navLinks" selected [routerLink]="['/helpdesk']" >HelpDesk</mat-chip>
              <mat-icon class="pipes">remove</mat-icon>
           

            <mat-chip mat-chip [matMenuTriggerFor]="menu1" class="navLinks" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></mat-chip>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item> My Account</button>
            <button mat-menu-item [routerLink]="['/rentItems']">Rent Items</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>

        </mat-chip-list>

          </section>

        </mat-toolbar-row></mat-toolbar>

        <mat-toolbar class="secondnav">               <mat-toolbar-row >
                <button class="category" mat-button [matMenuTriggerFor]="menu">Categories</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>Car & Bike</button>
                <button mat-menu-item>Jewellery</button>
                <button mat-menu-item>Artifacts</button>
                <button mat-menu-item>Electronics</button>
             </mat-menu>
             <button class="recommend" mat-button routerLink='/favs'>Wishlist</button>
                </mat-toolbar-row>
      </mat-toolbar>
    </nav>
</header>

  