<mat-toolbar class="secondnav">

    <mat-toolbar-row>
   
 <button class="recommend" mat-button >About Us</button>
 <button class="recommend" mat-button >Privacy Policy</button>
 <button class="recommend" mat-button >Terms & Conditions</button>
 <button class="recommend" mat-button >FAQ</button>
 <button class="recommend" mat-button >Contact Us</button>
 <button class="recommend" mat-button >24x7 Help</button>
 <button class="recommend" mat-button >©2019 StackBid.com</button>
 <button class="recommend" mat-button >Partner With Us</button>
 <button class="recommend" mat-button >Developed with  ❤   @StackRoute</button>
 <button class="recommend" mat-button >Facebook</button>
 <button class="recommend" mat-button >Twitter</button>
 <button class="recommend" mat-button >Youtube</button>

 </mat-toolbar-row>
</mat-toolbar>