
<!--############################################################################3-->
<section class="card">

    <mat-card class="item-card" >
      <mat-card-header>
        
      </mat-card-header>
    
        <mat-card-content >
    
          <span class="contents">Reset your Password</span>
            <div class="example-container">
    
                <mat-form-field>
                  <input matInput placeholder="Enter your email *" >
                </mat-form-field>
    
                     
            </div>
    
        <button mat-raised-button class="Submit" (click)="notification()" selected [routerLink]="['/login']">Reset Password</button>
    
      </mat-card-content>
     
    </mat-card>
    
    
    </section>
          