
<!--############################################################################3-->
<nav class="navbar">
  <mat-toolbar >
    <mat-toolbar-row >  
            <div class="navbar-header">  
                    <img src="./assets/auctionlogo.png" class="img-rounded" alt="auction-logo" width="50px" height="50px">
                </div>
        
      <span id="branding" [routerLink]="['/landing']">e-Auction</span>
    </mat-toolbar-row>
    </mat-toolbar>
</nav>
<section class="card">

    <mat-card class="item-card" >
      <mat-card-header>
        
      </mat-card-header>
    
        <mat-card-content >
    
          <span class="contents">Fill the Details</span>
            <div class="example-container">
    
                <mat-form-field>
                  <input matInput #username placeholder="Enter your email *">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #password placeholder="Enter your password *" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                      </div>
    
        <button mat-raised-button class="Submit" (click)="checkLogin(username.value, password.value)" >Login</button>
        <!-- <button mat-raised-button class="Submit" (click)="sendMessage()" >send</button> -->
          
        <div>

        <button mat-raised-button class="newbutton" selected [routerLink]="['/registration']">Create new Account</button>
        <button mat-raised-button class="newbutton" selected [routerLink]="['/forgot']">Forgot Password</button>

        </div>
        
  
      </mat-card-content>
     
    </mat-card>
    
    
    </section>
          