.item-card1 {
    margin: 15px;
    max-width: 350px;
    max-height: 470px;
    width: 350px;
    height: 470px;
    align-items: center;
    background-color: rgb(194, 211, 243); 
    position: static;  
    margin-left: 300px;  
    margin-top: 140px;
}

.item-card2 {
    margin: 15px;
    max-width: 350px;
    max-height: 470px;
    width: 350px;
    height: 470px;
    align-items: center;
    background-color: rgb(194, 211, 243); 
    position: static; 
    margin-top: 140px;   
}
.head-image
{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.item-card:hover {
    box-shadow: 10px 10px 10px black;
}

button {
    font-size: 30px;
    margin: 5px;
}
.bidbutton
{
    margin-left: 120px;  

}

.d-none {
    display: none;
}

button:hover {
    box-shadow: 5px 5px black;
}

.contents
{
    color: black;
    
}

h3{
    color: black;
}

.card{
    display: inline-flex;
    flex-wrap: wrap;
    
}

h4{
    color: black;
}

p{color: black;}

.form-field
{
    color: black;
}