.logo{
    padding: 50px;
    text-align: center;

}

h1{
    margin-top: 80px;
    margin-left: 610px;
}

.submit{
    color: blue;
    
}

section{
    margin-left: 450px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top:5px;
}

.example-full-width {
width: 100%;
}

td {
padding-right: 8px;
}

.button-row button{
  margin: 20px 20px 20px 0px;
  width: 100px;
  height: 40px;
  font-size: 20px;
}

.button-row
{
    padding-left: 220px;
}