
<!--############################################################################3-->
<section class="card">
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    <mat-card class="item-card" >
            <mat-card-header>
              
            </mat-card-header>
    
              <mat-card-content >
                <h3>No. of user on the platform</h3>
                <h3>Male: 110 Millions</h3>
                <h3>Female: 40 Millions</h3>
                <h3>-------------------------------</h3>
                <h3>Total Number of Bids</h3>
                <h3>1 Billion +</h3>
                <h3>Total value of Bids</h3>
                <h3> $50,00,00,000 </h3>
                <h3>-------------------------------</h3>
                <h3></h3>>
            </mat-card-content>
           
    </mat-card> 
    
    
    </section>
          