
<!--############################################################################3-->
<section class="card">

    <mat-card class="item-card" >
      <mat-card-header>
        
      </mat-card-header>
    
        <mat-card-content >
    
          <span class="contents">Fill the Details</span>
            <div class="example-container">
    
                <mat-form-field>
                    <input matInput placeholder="Enter your Full Name *">
                  </mat-form-field>
    
                <mat-form-field>
                  <input matInput placeholder="Enter your email *">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput placeholder="Enter your password *" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
    
                  <mat-form-field>
                    <input matInput placeholder="Enter your Phone Number *" pattern="number">
                  </mat-form-field>
    
                  <mat-form-field>
                      <input matInput placeholder="Enter your Aadhar Number *">
                    </mat-form-field>
                    <div>
                    <label>Gender: </label>
                    <mat-radio-group formControlName="floatLabel">
                      <mat-radio-button value="auto">Male</mat-radio-button>
                      <mat-radio-button value="always">Female</mat-radio-button>
                    </mat-radio-group>
                    <span></span>
                      </div>
                      <div>
                    <section class="catsection">
                        <span align="left">Categories: </span>
                        <mat-checkbox class="example-margin" >Electronics</mat-checkbox>
                        <mat-checkbox class="example-margin" >Car & Bike</mat-checkbox>
                        <mat-checkbox class="example-margin" >Jewellery</mat-checkbox>
                        <mat-checkbox class="example-margin" >Artifacts</mat-checkbox>
                        <mat-checkbox class="example-margin" >Fashion</mat-checkbox>
                        <mat-checkbox class="example-margin" >Antique</mat-checkbox>
                      </section>
                    </div>
                 
    
                      </div>
    
        <button mat-raised-button class="submit" class="center" selected [routerLink]="['/login']">Submit</button>
    
      </mat-card-content>
     
    </mat-card>
    
    
  
    </section>
          