


<section class="card" >
  <mat-card class="item-card" *ngFor="let product of productList[0].details">
        <!-- <div fxFlex="20%"> -->
           
          <mat-card-header >
            <mat-card-title class="text">ITEM ID: {{product.itemid}}</mat-card-title><br>
            <mat-card-title class="text">DESCRIPTION: {{product.description}}</mat-card-title><br>
            <mat-card-title class="text">OWNER: {{product.owner}}</mat-card-title><br>
          </mat-card-header>
         <img mat-card-image class="img" src="../../../assets/card.jpeg">
            <mat-card-actions>
                <button mat-button class="text1"(click)=bookLand(product)>BID </button>
                
            </mat-card-actions>
         
       
        <!-- </div> -->
        

        </mat-card>
</section>
  